.boton
    background rgba(255,255,255,0.3)
    border-radius 3px
    border 1px solid #2A8DA0
    display block
    padding 0.8em 0
    transition 0.2s all
    margin auto
    width 80%
    &:hover
        background rgba(12, 183, 242, 0.5)
        cursor pointer

.btn-1
    padding 0.5em
    margin-top 2em
    &:hover
        color white

@media screen and (min-width:720px)
    .boton
        width 10em
@media screen and (min-width:720px)
    .boton
        width 12em