//## Y es asi como dividire los archivos de estilos ##//
@import "nib"

@import "normalize.styl"

@import "fonts.styl"
//-- Colores que se usaran almacenados en variables
@import "paleta.styl"

//-- Todos los diseños difentes de botones
@import "buttons.styl"

//-- Configuracion aplicable a todas las plantillas, como tamaño, centrados, etc
@import "estandar.styl"

//-- El nombre de cada archivo describe lo que almacena
@import "header.styl"
@import "nav.styl"
@import "content.styl"
@import "footer.styl"