footer
    font-size 0.6em
    ul
        margin 1em
        padding 0
        text-transform uppercase
        li
            display inline-block
            list-style none
            widht 30%
            a
                color white
                text-decoration none