header
    color white
    padding 4em 1em 0em 1em !important
    h2
        margin-bottom 2em

h1
    text-transform uppercase
    font-weight normal
    margin-bottom 2em
    span
        font-size 0.8rem
        display block
        //text-transform lowercase
        whidth 100%

h2
    font-weight 500
